<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bokeh Plot Fetching Data from QUANDL server</title>
        
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js"></script>
  </head>
  <body>
      {{ div | safe }}
      {{ script | safe }}

      <br>

      <ul>
		  <br>
		  
		  <form method="POST" action="">
            Please enter the company name 'Google' (or stock ticker for the Company, if you aware of: example 'GOOG' for Google), Both works: <input type="text" name="name">
            <input type="submit" name="submit" value="Submit">
		  </form>
		  </h1><a href=/>Go to home page</a>


	</ul>
  </body>
</html>
