<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Milestone Project</title>
		<link rel=stylesheet type=text/css href='/static/style.css'>
	</head>
	<body>
		<div class=page>
  			<h1>Bokeh plot embeded With Flask Webapp</h1>
  			<div class=metanav>

    			<h4>Data fetched from QUANDL API.</h4>
				<h4>In the paradigm of stock market the moving average convergence-divergence analysis is a tool used as an index of buying or selling stocks.</h4>
				<h4>In this application I have designed a plot of the historical stock closing prices, along with the short term (7-days) and long-term (19 days)moving averages.</h4>
				<h4>*** This app is for everybody; you no need to be an Stock market expert. The coolest feature of this application: given a Company name it can translate it's Ticker symbol.***</h4>
				<br>
				</h1><a href=/plot>Go to plot page</a>

  			</div>
		</div>
	</body>
</html>
